.navbar {
    position: fixed; /* Navbar fija en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    padding: 8px 8px;
    display: flex; /* Flexbox para organizar los elementos */
    justify-content: space-between; /* Separa logo y elementos */
    align-items: center; /* Alinea verticalmente */
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin: 0 10px; /* Espaciado entre elementos */
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    justify-content: center;
}

.logo img {
    width: 40px; /* Tamaño del logo */
    height: 40px;
}
body {
    background-image: url('https://www.viveusa.mx/resizer/v2/WIWW7EDYQRHELKAWE4S2JZAQEM.jpg?auth=6d53a8b9d82cc77628c06e91ca05d803a64094be23e6e16ca47b4ed3d6c8a623&smart=true&width=1100&height=666'); /* Reemplaza 'imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh;
}

.book_now {
    background-color: black;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 15px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      
}
.book_now:hover {
    background-color: #444;
  }
  .search_bar{
    cursor: pointer;
    border-radius: 15px;
    padding-right: 4%;
   

  }
  .search_bar input {
    padding: 8px 12px; /* Añade padding para que el input tenga un buen tamaño */
    border-radius: 15px; /* Borde redondeado */
    border: 1px solid #5622926e; /* Añadir borde si lo deseas */
    outline: none; /* Eliminar el borde azul que aparece al hacer clic en el input */
    font-size: 16px; /* Ajusta el tamaño de la fuente */
}
.container {
    display: flex; /* Hace que los elementos internos estén en línea */
    align-items: center; /* Alinea verticalmente */
    justify-content: space-between; /* Espaciado entre los elementos */
    padding: 5%;
}

.content {
    width: 50%; /* Ajusta el ancho */
    padding: 2%;
}

.result {
    width: 50%; /* Ajusta el ancho */
    min-height: 300px; /* Da una altura mínima */
    background-color: rgba(29, 27, 27, 0.603); /* Solo para visualizar */
    color: white;
    padding: 20px;
    display: none;
    align-items: center;
}
.result-image {
    width: 200px; /* Ajusta al tamaño que desees */
    height: 200px; /* Ajusta también la altura si es necesario */
    object-fit: cover; /* Esto asegurará que la imagen se ajuste sin distorsionarse */
}

